{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="login-container">
    <form method="POST" action="{{ url_for('admin.login') }}">
        <h2>Administrator Login</h2>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}

